.app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 1280px;
  background: $LayoutBackgroundBrush;
  margin: 0 auto;

  & > .app__header {
    text-align: center;
  }

  & > .app__body {
    display: grid;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2.5rem;
    padding-top: 0;
  }
}