.app {
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1280px;
  background: $LayoutBackgroundBrush;
  margin: 0 auto;

  & > .app__header {
    text-align: center;
  }

  & > .app__body {
    padding: 3rem;
  }

  & > .app__footer {
    padding: 0.5rem;
  }
}