// TODO: make CSS custom properties
$LayoutBackgroundBrush: $Shark;
$LayoutBackgroundBrushContrast: $SharkContrast;
$ApplicationBackgroundBrush: $Charcoal;
$SectionBackgroundBrush: $Charcoal;
$FontBrush: $PureWhite;
$PlayerBorderBrush: $Charcoal;
$PlayerBrush: $Charcoal;
$SectionIconBackgroundBrush: $Charcoal;
$InputBackgroundBrush: $Charcoal;
$LinkBrush: $Sinbad;
$ErrorBrush: $Orange;
$LinkActiveBrush: $PureWhite;
$DarkFocusBrush: $Shark;
$LightFocusBrush: $Yellow;
$ButtonBrush: $Purple;