$LayoutBackgroundBrush: $Shark;
$ApplicationBackgroundBrush: $Charcoal;
$SectionBackgroundBrush: $Charcoal;
$FontBrush: $PureWhite;
$PlayerBorderBrush: $Charcoal;
$PlayerBrush: $Charcoal;
$SectionIconBackgroundBrush: $Charcoal;
$LinkBrush: $Sinbad;
$LinkActiveBrush: $PureWhite;