.player {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    align-items: center;
    gap: 1rem;
    min-height: 3.5rem;
    border: 1.5px solid $PlayerBorder;
    border-radius: $standard-border-radius;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.10rem;
    padding-bottom: 0.10rem;
    box-shadow: 0px 1px 30px 2px rgba(0,0,0,0.50);
    max-width: 15rem;

    &.player--black {
        background-color: #808080;
    }

    &.player--blue {
        background-color: #87cefa;
    }

    &.player--brown {
        background-color: #a52a2a;
    }

    &.player--cyan {
        background-color: #00ffff;
    }

    &.player--green {
        background-color: #90ee90;
    }

    &.player--lime {
        background-color: #00ff00;
    }

    &.player--orange {
        background-color: #ffa500;
    }

    &.player--pink {
        background-color: #ffc0cb;
    }

    &.player--purple {
        background-color: #8f3e8f;
    }

    &.player--red {
        background-color: #ff0000;
    }

    &.player--white {
        background-color: #ffffff;
    }

    &.player--yellow {
        background-color: #ffff00;
    }

    & > .player__icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    & > .player__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $PlayerBrush;
        font-weight: bold;
    }

    & > .player__nav {
        display: grid;
        gap: 0.5rem;
    }
}