.section {
    min-height: 5rem;

    & > .section__row {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 10px;

        & > .section__row-icon {
            grid-column: 1;

            width: 4rem;
            height: 4rem;
            background-color: $SectionIconBackgroundBrush;
            border-radius: 50%;
        }

        & > .section__player-list {
            grid-column: 2;
            min-height: 3.5em;

            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            background-color: $SectionBackgroundBrush;
            border-radius: 5px;
            gap: 1rem;
            padding: 1rem;
        }
    }
}